.section {
  padding: 40px 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  gap: 100px;
}

.title {
  font-size: 48px;
  margin-bottom: 40px;
}

.date {
  margin-bottom: 8px;
}

.homepageLink {
  color: whitesmoke;
  font-weight: 600;
  text-align: center;

  background-color: rgb(154, 0, 0);
  max-width: 150px;
  border-radius: 4px;
  padding: 4px 16px;
  box-shadow: 2px 2px 4px #444343;

  margin-bottom: 40px;

  transition: box-shadow 250ms ease-in-out;
}

.genresDetails,
.countryDetails {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.subtitle {
}

.genresList,
.countryList {
  display: flex;
  gap: 5px;
}

.genreItem,
.countryItem {
  display: flex;
  gap: 5px;
  align-items: center;
}
.genreItem:not(:last-of-type):after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(154, 0, 0);
  display: block;
}

.genreText {
  text-transform: capitalize;
}

.countryItem:not(:last-of-type):after {
  content: "&";
}

.descriptionWrapper {
  max-width: 750px;
}

.movieSubtitle {
  margin-bottom: 8px;
}

.description {
  text-indent: 15px;
}
