.section {
  padding: 20px 0;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 8px;
}

.image {
  border-radius: 8px;
  width: 300px;
  height: 400px;
  margin-bottom: 30px;
}

.bigScreenTitle {
  font-size: 38px;
  margin-bottom: 20px;
  max-width: 590px;
}
.title {
  font-size: 38px;
  margin-bottom: 20px;
  max-width: 590px;
  display: none;
}

.subtitle {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.releaseDate {
  margin-bottom: 20px;
}

.homepageLink {
  color: whitesmoke;
  font-weight: 600;
  text-align: center;

  background-color: rgb(154, 0, 0);
  max-width: 150px;
  border-radius: 4px;
  padding: 4px 16px;
  box-shadow: 2px 2px 4px #444343;

  margin-bottom: 40px;

  transition: box-shadow 250ms ease-in-out;
}

.movieInfoList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.genresDetails,
.countryDetails {
  margin-bottom: 8px;
}

.countryDetails {
  gap: 50px;
}

.genresList,
.countryList {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}

.genreItem,
.countryItem {
  display: flex;
  gap: 5px;
  align-items: center;
}
.genreItem:not(:last-of-type):after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(154, 0, 0);
  display: block;
}

.genreText {
  text-transform: capitalize;
}

.countryItem:not(:last-of-type):after {
  content: "&";
}

.language {
  margin-bottom: 8px;
}

.duration {
  margin-bottom: 8px;
}

.vote {
  margin-bottom: 8px;
}

.descriptionWrapper {
  max-width: 590px;
  margin-bottom: 20px;
}

.movieSubtitle {
  margin-bottom: 8px;
  font-size: 22px;
}

.additionalInfo {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 30px;
}

.navLink {
  color: black;
  font-weight: 700;
  font-size: 18px;

  transition: text-decoration 250ms ease-in-out, color 250ms ease-in-out;
}

.navLink:not(:last-of-type) {
  margin-bottom: 8px;
}

.activeNavLink {
  color: rgb(154, 0, 0);
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(154, 0, 0);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 16px;
  }
  .mainPage {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
  }

  .movieInfo {
    order: 3;
    flex-grow: 2;
    flex-wrap: wrap;
  }
  .image {
    width: 400px;
    height: 600px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 32px;
  }
  .bigScreenTitle {
    display: none;
  }
  .title {
    display: block;
  }

  .countryDetails,
  .genresDetails,
  .language,
  .duration,
  .vote {
    align-items: baseline;
  }

  .countryDetails {
    display: flex;
    gap: 59px;
  }

  .genresDetails {
    display: flex;
    gap: 65px;
    align-items: baseline;
  }

  .language {
    display: flex;
    gap: 32px;
  }

  .duration {
    display: flex;
    gap: 46px;
  }

  .vote {
    display: flex;
    gap: 93px;
  }

  .descriptionWrapper {
    display: flex;
    gap: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .mainPage {
    gap: 60px;
  }
}
