.header {
  background-color: rgb(105, 105, 105);
  padding: 6px 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBlock {
  display: flex;
  gap: 5px;
}

.link {
  color: whitesmoke;
  font-size: 22px;
  font-family: Poppins, sans-serif;
  text-decoration: none;

  padding: 5px 10px;
  cursor: pointer;
  transition: color 250ms ease-in-out;
  transform: scale(0.9);
}

.isActive {
  color: rgb(154, 0, 0);
  font-weight: bold;
  text-shadow: 4px 4px 4px #444343;
}
