.section {
  padding: 40px 0;
}

.container {
  max-width: 1584px;
  margin: 0 auto;
  padding: 0 72px;
}

.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-basis: calc((100% - 40px) / 2);
}

.poster {
  margin-bottom: 4px;
  border-radius: 4px;
}

.title {
  color: black;
  font-weight: 600;
  margin-bottom: 4px;
}
.date {
  color: black;
  font-size: 16px;
}
