.footer {
  background-color: rgb(35, 35, 35);
  margin-top: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 8px;
    flex-direction: column;
    gap: 20px;
  }
}

.rights {
  color: whitesmoke;
  font-size: 16px;
}
